<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="/CH2/2.3/2.3.1.v-bind.is與動態元件.css">
</head>

<body>
    <div id="app">
        <button v-for="tab in tabs" :key="tab" :class="['tab-button', { active: currentTab === tab }]"
            @click="currentTab = tab">
            {{ tab }}
        </button>

        <!-- <keep-alive>
            <component :is="currentTabComponent"></component>
        </keep-alive> -->

        <keep-alive include="tab-home,tab-posts">
            <component :is="currentTabComponent"></component>
        </keep-alive>
    </div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    currentTab: 'Home',
                    tabs: ['Home', 'Posts', 'Archive']
                }
            },
            computed: {
                currentTabComponent() {
                    return `tab-${this.currentTab.toLowerCase()}`;
                }
            }
        });

        app.component('tab-home', {
            name: 'tab-home',
            template: `<div class="demo-tab"><input v-model="title"></div>`,
            data: () => ({ title: 'Home component' })
        });

        app.component('tab-posts', {
            name: 'tab-posts',
            template: `<div class="demo-tab"><input v-model="title"></div>`,
            data: () => ({ title: 'Post component' })
        });

        app.component('tab-archive', {
            name: 'tab-archive',
            template: `<div class="demo-tab"><input v-model="title"></div>`,
            data: () => ({ title: 'Archive component' })
        });

        app.mount('#app');
    </script>
</body>

</html>